# === General Node ===
node_modules/
**/node_modules/

# === Logs ===
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === Runtime data ===
pids
*.pid
*.seed
*.pid.lock

# === Build output ===
dist/
**/dist/
build/
**/build/
.tmp/
.temp/

# === Next.js ===
.next/
out/
.vercel/


# === Environment Variables ===
.env
.env.*
!.env.example

# === IDEs and Editor configs ===
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace

# === OS ===
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# === TypeScript ===
*.tsbuildinfo

# === Misc ===
*.log
*.tgz
*.lock-wscript
*.swp
*.swo

# === Package manager ===
package-lock.json  # if using npm
